@charset "utf-8";
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 5
   Case Problem 1
   
   Author: Nuor tabbaa  
   Date:   10/28/2025 
   
   Filename: gp_print.css

   This file contains the printer styles used with the sample
   comic book pages from Golden Pulps.

*/

/* Hidden Objects */
@media print {
nav, footer, article {
   display: none;
}
/* Comic Book Sheet Styles */
section#sheet {
   width: 6in;
   margin-top: 0;
   margin-bottom: 0;
   margin-left: auto;
   margin-right: auto;
}
.size1 img {
   width: 5in;
}
.size2 img {
   width: 3in;
}
.size3 img {
   width: 2in;
}
.size4 img {
   width: 1.5in;
}
}