/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 3
   Review Assignment
   
   Style Sheet for the Pandaisia Chocolates Monthly Specials
   Author: Nuor Tabbasa
   Date:   10/6/2025
   
   Filename: pc_specials.css

*/

/* Page Body Styles */
body{
   max-width: 960px;
   min-width: 640px;
   width: 95%;
   margin-left:auto;
   margin-right:auto;


}


/* Image Styles */
img{
   display:block;
   width: 100%;
}


/* Horizontal Navigation Styles */
nav ul li {
    display: block; 
    float: left; 
    width: 16.66%; 
}

nav ul li a {
    display: block; 
}



/* Grid Styles */
body {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    grid-gap: 20px; 
}

header, footer {
    grid-column: 1 / -1; 
}


#sub {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}



/* Specials Styles */
div.specials{
	min-height: 400px;
	outline: 1px dashed rgb(71,52,29);
}


/* Award Styles */

aside {
    position: relative; 
    height: 900px;
    overflow: auto; 
}

aside div {
    position: absolute; 
    width: 30%;
    z-index: 10;
}

#award1 {
    top: 80px;
    left: 5%;
}

#award2 {
    top: 180px;
    left: 60%;
}

#award3 {
    top: 300px;
    left: 20%;
}

#award4 {
    top: 450px;
    left: 45%;
}

#award5 {
    top: 550px;
    left: 5%;
}

